<% content_for :head do %>
<script type="text/javascript">
    var race_counts = <%= @race_counts %>;
    var num_males = <%= @num_males%>;
    var age_groups = <%= @age_groups %>;
    var age_males = <%= @age_males %>;
    var age_females = <%= @age_females %>;
</script>
<style type="text/css">
body {
	background-color: #fff;
}
#age-gender, #age-groups, #race-counts { width: 50%; float: left;}
</style>
<script type="text/javascript">
	window.num_females = <%= @num_females %>;
	window.num_males = <%= @num_males %>;
</script>
<%= javascript_include_tag 'charts/age-gender.js', :cache => true %>
<%= javascript_include_tag 'charts/age-groups.js', :cache => true %>
<%= javascript_include_tag 'charts/race-counts.js', :cache => true %>
<% end -%>

<div id="age-gender"></div>
<div id="age-groups"></div>
<div id="race-counts"></div>
