<% content_for :head do %>
<script type="text/javascript">
	window.race_data = [107, 31, 191, 203, 100,100];
</script>
<style type="text/css">
body {
	background-color: #fff;
}
#age-gender, #age-groups, #race-counts { width: 50%; float: left;}
</style>
<script type="text/javascript">
	window.num_females = <%= @num_females %>;
	window.num_males = <%= @num_males %>;
</script>
<%= javascript_include_tag 'charts/age-gender.js', :cache => true %>
<%= javascript_include_tag 'charts/age-groups.js', :cache => true %>
<%= javascript_include_tag 'charts/race-counts.js', :cache => true %>
<% end -%>

<div id="age-gender"></div>
<div id="age-groups"></div>
<div id="race-counts"></div>