
<ul class="nav secondary-nav">
          <li class="dropdown" data-dropdown="dropdown">
            <a href="#" class="dropdown-toggle"><%= current_user.first_name.to_s %> <%= current_user.last_name.to_s %></a>
          
            <ul class="dropdown-menu">
             <% if APP_CONFIG['edit_account_enabled']%><li><%= link_to t('top_nav.account'), edit_user_registration_path(current_user) %></li> <% end %> 
                <li><a href="#"><%= t('top_nav.help') %></a></li>
                <% if APP_CONFIG['logout_enabled'] %><li><%= link_to t('top_nav.logout'), destroy_user_session_path, 'class' => 'log' %></li><% end %>
                <li class="divider"></li>
                <% if current_user.admin? %><li><%= link_to t('top_nav.admin'), admin_users_path %></li> <% end %>
                <% if current_user.admin? %><li><%= link_to t('top_nav.logs'), logs_index_path %></li> <% end %>
            </ul> 
        </li>
       </ul>

