<%= link_to "Export", :controller => "patients", :action => "export_conditions" %>
<br />
<%= @conditions.length %> Total Conditions 
<table style="width: 80%">
	<tr>
		<th style="padding: 15px;">SNOWMED-CT</th>
		<th style="padding: 15px;">Count</th>
		<th style="padding: 15px;">Name</th>
	</tr>

<% @conditions.each do |key, value| %>
	<tr>
		<td><%= key %></td>
		<td><%= value['count'] %></td>
		<td><%= value['name'] %></td>
	</tr>
<% end %>
</table>


