<% content_for :head do %>
<style type="text/css">
body { background-color: #eee;}
</style>
<%end%>
<div class="content-container">
<div class="section">
 <div class="section-header">
    <p>Patient Search<p>
 </div>

<%= form_tag("/patients/", :method => "get") do %>
<div class="search-left">
  <div class="clearfix">
    <%= label_tag(:fn, t('patient.first_name')) %>
    <div class="input"><%= text_field_tag(:fn, params[:fn]) %></div>
  </div>
  <div class="clearfix">
    <%= label_tag(:ln, t('patient.last_name')) %>
    <div class="input"><%= text_field_tag(:ln, params[:ln]) %></div>
  </div>
   <div class="clearfix">
    <%= label_tag(:pid, t('patient.patient_id')) %>
    <div class="input"><%= text_field_tag(:pid, params[:pid]) %></div>
  </div>
</div>
<div class="search-right">
  <div class="clearfix">
    <%= label_tag(:med, t('medications.medication')) %>
    <div class="input"><%= text_field_tag(:med, params[:med]) %></div>
  </div>
  <div class="clearfix">
    <%= label_tag(:con, t('conditions.condition')) %>
    <div class="input"><%= text_field_tag(:con, params[:con]) %></div>
  </div>
  <div class="clearfix">
    <%= label_tag(:al, t('conditions.allergy')) %>
    <div class="input"><%= text_field_tag(:al, params[:al]) %></div>
  </div>

  <div class="clearfix">
    <div class="input">
        <button class="btn" type="reset">Reset</button>
        <button class="btn success" type="submit">Search</button>
    </div>
  </div>
</div>
<% end %>
</div>


<%= render :partial => "patient_table", :object => @results %>
</div>

