<% content_for :head do %>
<style type="text/css">
body { background-color: #eee;}
</style>
<%end%>
<div class="content-container">
<div class="section">
	<div class="section-header">
		<p><%= @meds.length %> Total Medications</p>
		<button class="btn info float-right">
		<%= link_to "Export Medications", :controller => "patients", :action => "export_meds"%>
		</button>
	</div>
	
	<table id="sortable" class="zebra-striped">
		<thead>
			<tr>
				<th width="90">RxNormID</th>
				<th width="75">Count</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
		<% @meds.each do |key, value| %>
			<tr>
				<td><%= key %></td>
				<td><%= value['count'] %></td>
				<td><%= value['name'] %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>

</div>